
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="modal-fade" id="ModalRejestracjaDone">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Zarejestrowano! Za chwilę zostaniesz przekierowany do panelu logowania...
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function () {
        window.location.href = 'http://localhost:52623/Uzytkownicy/login';
    }, 4000);
</script>